[AimDBList]
CaseDBList	=	./Case/megalodon_CG_A,./Case/megalodon_GC
ControlDBList	=	./Control/megalodon_CG_A,./Control/megalodon_GC

[BaseLabel]
ModBaseList	=	Y,Z;Z
AimBaseList	=	m6A,CpG;GpC

[outDir]
CaseBedDir	=	./TMPBed/Case/megalodon_CG_A,./TMPBed/Case/megalodon_GC
ControlBedDir	=	./TMPBed/Control/megalodon_CG_A,./TMPBed/Control/megalodon_GC
PerReadOutDir	=	./Per_Reads_BaseData
SignalOutDir	=	./ResultDir

[AttachFiles]
RefFile = ./AttachFiles/mainChr_hg38_UCSC.fa
RegionFile	=	./AttachFiles/ExampleRegionFile.bed
